.sidebar-toggle span {
  width: 32px !important;
  height: 4px !important;
  }

/* Styling of _glossary.md links */
a[href^="#/_glossary?"] {
        color: #34495e;
        text-decoration: underline;
         text-decoration-style: dotted;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📚</text></svg>")
      16 0, auto;
}