@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");
* {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
}

body:not(.ready) {
    overflow: hidden;
}
body:not(.ready) .app-nav,
body:not(.ready) > nav,
body:not(.ready) [data-cloak] {
    display: none;
}
div#app {
    text-align: center;
}

div#app:empty:before {
    content: "Loading...";
}
.progress {
    background-color: var(--theme-color, #42b983);
    height: 2px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 0.2s, opacity 0.4s;
    width: 0;
    z-index: 5;
}

body,
html {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
}

.content {
    padding-top: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50px;
    transition: left 0.25s ease;
}

.markdown-section {
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px 15px 40px;
    position: relative;
}

.markdown-section > * {
    box-sizing: border-box;
    font-size: inherit;
}

.markdown-section > :first-child {
    margin-top: 0 !important;
}

.markdown-section hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 2em 0;
}

.markdown-section iframe {
    border: 1px solid #eee;
    width: 1px;
    min-width: 100%;
}

.markdown-section h2 {
    border: none;
    border-bottom: 2px solid #eee;
}

.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%;
}

.markdown-section th {
    font-weight: 700;
}

.markdown-section td,
.markdown-section th {
    border: 1px solid #ddd;
    padding: 6px 13px;
}

.markdown-section tr {
    border-top: 1px solid #ccc;
}

.markdown-section p.tip,
.markdown-section tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdown-section p.tip {
    border-bottom-right-radius: 2px;
    border-left: 4px solid #f66;
    border-top-right-radius: 2px;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    position: relative;
}

.markdown-section p.tip:before {
    background-color: #f66;
    border-radius: 100%;
    color: #fff;
    content: "!";
    font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    top: 14px;
}

.markdown-section p.tip code {
    background-color: #efefef;
}

.markdown-section p.tip em {
    color: #34495e;
}

.markdown-section p.warn {
    background: rgba(66, 185, 131, 0.1);
    border-radius: 2px;
    padding: 1rem;
}

.markdown-section ul.task-list > li {
    list-style-type: none;
}
